
.vs/

BackendAPI/SEP490.API/bin/

BackendAPI/SEP490.API/obj/

BackendAPI/SEP490.API/appsettings.json

BackendAPI/SEP490.API/appsettings.Development.json

BackendAPI/SEP490.Application/bin/

BackendAPI/SEP490.Application/obj/

BackendAPI/SEP490.Domain/bin/

BackendAPI/SEP490.Domain/obj/

BackendAPI/SEP490.Infrastructure/bin/

BackendAPI/SEP490.Infrastructure/obj/
